# ==========================================
# 打包产物与 Release 目录（核心）
# ==========================================
build/
app/build/
release/
app/release/
**/release/
*.apk
*.aar
*.aab

# ==========================================
# IDE & 项目配置文件
# ==========================================
.idea/
*.iml
.gradle/
.navigation/
captures/

# ==========================================
# 本地私密与环境配置
# ==========================================
local.properties
*.keystore
*.jks

# ==========================================
# C/C++ 原生编译缓存
# ==========================================
.externalNativeBuild/
.cxx/

# ==========================================
# 系统文件
# ==========================================
.DS_Store
Thumbs.db